/* Global styles */

* {
	border:0px none;
	margin:0;
	padding:0;
	list-style-type:none
	}

/* html, body { height: 100% } */

body {
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	color: #333;
	font-size: 14px;
	text-align: center
	}

/* Helpers */

.alignCenter { text-align: center }
.alignMiddle { display:table-cell; vertical-align: middle }
.alignLeft { text-align: left }
.floatLeft { float: left }
.floatRight { float: right }
.cleaner { clear: both }

b, strong { font-weight:bold }

a, a:active {  outline: none; color:#333; text-decoration:none }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
 
.clearfix {
	display: inline-block;
	}
 
html[xmlns] .clearfix {
	display: block;
	}
 
* html .clearfix {
	height: 1%;
	}

/* Layout styles */

#wrapper {
	margin: 0 auto;
	min-height: 100%;
	text-align: left;
	position: relative;
	z-index: 10;
	}
* html #wrapper { height:100% }

#header { 
	width: 100%;
	position: absolute;
	z-index: 11;
	top:-185px;
	height: 185px	
	}

#body {
	min-height: 240px;
	position: relative;
	margin-top: 195px;
	z-index:10;
	padding-bottom: 277px
	}

#footer {
	width: 100%;
	bottom: 0px;
	height: 277px;
	position: absolute;
	z-index: 10	
	}

#wrapper { width: 995px }

/* Header */
#header img.logo {
	width:300px;
	height:160px;
	
	}

#header .content {
	background:url(/images/bgr-header.png) 325px 5px no-repeat;
	}
	
#header .content a {
	display: block;
	float:left;
	}

#language {
	padding:10px 0px 0px 10px;
	}

#subheader {
	margin-left:344px;
	margin-top:-46px;
	padding-right:10px;
	position:absolute;
	text-align:right;
	width:640px
	}

.breadcrumb, .breadcrumb h3 {
	font-size:11px	
	}

.breadcrumb li, .breadcrumb li h3 {
	font-weight:normal;
	padding-left:5px;
	display:inline;
	}	

#subheader .breadcrumb li, #subheader .breadcrumb li h3 {
	color: #999
	}
	
#subheader .title {
	padding-bottom:5px;
	letter-spacing:2px
	}
	
#subheader .title h1 {
	font-size: 13px;
	font-weight: normal;
	}	

/* Body */
#body .content {
	padding-top: 10px
	}

#leftContainer {
	width:301px;
	} 

.wide #leftContainer {
	width:100%;
	position:absolute;
	top:0px;
	}

#rightContainer {
	padding-bottom:17px;
	width:694px
	}

.wide #rightContainer {
	width:100%;
	}

#rightContainer .content {
	width: 580px;
	margin: 0 auto;
	padding: 0px;
	}


.wide #rightContainer .content {
	padding-top:61px;
	width: 694px
	}
	
#rightContainer .content h2 {
	font-weight:normal;
	font-size:26px;
	color:#A6AD84
	}
		
.wide #rightContainer .content h2 {
	text-align:center
	}	

#leftMenu li {
	margin:0 auto;
	width:206px;
	padding-left:4px;
	background:#c8c8c8;	
	margin-bottom:17px;
	}

.wide #leftMenu li {
	display:block;
	float:left
	}

#leftMenu .aboutTheCompany.active {
	background:#D79056	
	}
	
#leftMenu .aboutTheCompany.active a, #subheader .breadcrumb li.aboutTheCompany {
	color:#D79056
	}	
	
#leftMenu .services.active {
	background:#56B7D7
	}
	
#leftMenu .services.active a, #subheader .breadcrumb li.services {
	color:#56B7D7
	}	

#leftMenu .onlineConsultations.active {
	background:#BD56D7
	}
	
#leftMenu .onlineConsultations.active a, #subheader .breadcrumb li.onlineConsultations {
	color:#BD56D7
	}	
	
#leftMenu .feedback.active {	
	background:#D75656
	}
	
#leftMenu .feedback.active a, #subheader .breadcrumb li.feedback {
	color:#D75656
	}	

#leftMenu .active a {
	border-left: 5px solid #fff;
	background:#f3f3f3
	}	


#leftMenu a {
	display:block;
	padding-left:10px;
	background:#fff;
	font-size:18px;
	padding-top:6px;
	height:29px;
	}


/* Footer */
#footerCopyRight {
	background:url(/images/bgr-footer.png) 0 0 no-repeat;
	padding:20px 39px 0px 39px;
	height:63px;
	}

#footerCopyRight .floatLeft {
	width: 201px;
	color:#aeaeae
	}

#footerCopyRight .floatRight a {
	color:#805e42
	}

#footerCopyRight .floatRight {
	text-align:right;
	width:670px;
	}
	
#footerCopyRight strong, #footerCopyRight .floatRight {
	font-weight:normal;	
	color:#a6ad84
	}

#footer .breadcrumb {
	bottom:7px;
	position:absolute;
	text-align:center;
	width:100%
	}
	
#footerBox {
	color:#56371a;
	font-size:11px;
	}	
	
#footerBox div {
	/*width:314px;*/
	background:url(/images/bgr-footer-left-center.png) 0px 0px repeat-x;
	width:284px;
	text-align:center;
	padding:0px 30px 0px 30px;
	height:162px
	}

#footerBox .center {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	width:370px
	}

#footerBox .right {
	background:url(/images/bgr-footer-right.png) 0px 0px no-repeat;
	}	
	
#footerBox li.center {
	padding-right: 2px;
	padding-left: 2px;	
}	